# Django stuff
*.log
local_settings.py

# virtualenv
.venv
venv/

# testing coverage
.htmlcov
htmlcov/
.coverage


#db
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid


# Ignore Django Migrations in Development if you are working on team
# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py